body {
    padding-top: 10px;
    background-color: #ffffff;
}
.ban {
    background-image: url("/img/ban1.jpg");

    border: solid 2px #000000;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    text-align: right;
}
.text-ban{
    color: #472d12;
    font-style: italic;
}
p{
    margin: 5px;
}
.img-hmp{
    width: 10%
}
.ml-10{
    margin-left: 15rem !important;
}
.border-cadre{
    border-radius: 5px;
    border: solid 2px #000000;
    background-color: #dbd1c7;
}
.well {
    background-color:#f0f0f0;
    padding: 20px;

}
.col-pad{
    padding-bottom: 5px;
}
.color1{
    background-color:#d53a32;
}
.color2{
    background-color:#c1DD42;
}
.color3{
    background-color:#f045e6;
}
.color4{
    background-color:#77b0f0;
}

.push {
    text-align: right;
    color : #b8b8b8;
    font-size : 15px;
}
.push-white {
    text-align: right;
    color : #494949;
    font-size : 15px;
}

.navbar-default {
    border-color: #e7e7e7;
    -ms-flex-direction: row;
    flex-direction: row;
}

.inline-form input {
    display: inline-block;
    width: 150px;
    height: 32px;
}

.barnav{
    padding-bottom: 0px;
}
a.link-ban
{
    color: #003b4f;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;

}

a:hover {
    font-style: italic;
}
.mid{
    text-align:  center;
}
.panel {
    white-space: normal;
    display: inline;
    text-align: justify;
}
.link-img{
    filter: drop-shadow(5px 5px 5px #222);
}
.link-img:hover{
    box-shadow:-2px 3px 100px rgba(0, 0, 0, 0.6)inset;
}
.ma_classe{
    width: 5000px;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 200px;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .dl-horizontal dd {
        margin-left: 220px;
    }
}
@media (min-width: 768px) {
    .dl-pres dt{
        float: left;
        width: 100px;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .dl-pres dd{
        width: 750px;
        margin-left: 120px;
    }
}