<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="col-lg form-horizontal well">
            <legend class="h4 border-bottom">Mes données personnelles</legend>
            <br>
            <fieldset >
                <legend class="push border-bottom">Identité</legend>
                <div class="row form-group">
                    <label for="name" class="offset-lg-2 offset-sm-2 col-3 control-label">Nom:</label>
                    <div class="col-5">
                        <p id="name" th:text="${userCurrent.name}"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="firstname" class="offset-lg-2 offset-sm-2 col-3 control-label">Prénom:</label>
                    <div class="col-5">
                        <p id="firstname" th:text="${userCurrent.firstname}"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="sex" class="offset-lg-2 offset-sm-2 col-3 control-label">Genre:</label>
                    <div class="col-5">
                        <div th:if="${userCurrent.sex} == true">
                           <p id="sex" >Homme</p>
                        </div>
                        <div th:unless="${userCurrent.sex} == true">
                            <p id="sex" >Femme</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="push border-bottom">Coordonnée</legend>
                <div class="row form-group">
                    <label for="address" class="offset-lg-2 offset-sm-2 col-3 control-label">Adresse:</label>
                    <div class="col-5">
                        <p id="address" th:text="${userCurrent.address}"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="zip" class="offset-lg-2 offset-sm-2 col-3 control-label">Code Postale:</label>
                    <div class="col-5">
                        <p id="zip" th:text="${userCurrent.zip}"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="mail" class="offset-lg-2 offset-sm-2 col-3 control-label">Prénom:</label>
                    <div class="col-5">
                        <p id="mail" th:text="${userCurrent.mail}"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="phone" class="offset-lg-2 offset-sm-2 col-3 control-label">Téléphone:</label>
                    <div class="col-5">
                        <p id="phone" th:text="'0' + ${userCurrent.phone}"></p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="push border-bottom">Compte</legend>
                <div class="row form-group">
                    <label for="pseudo" class="offset-lg-2 offset-sm-2 col-3 control-label">Identifiant:</label>
                    <div class="col-5">
                        <p id="pseudo" th:text="${userCurrent.pseudo}"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="password" class="offset-lg-2 offset-sm-2 col-3 control-label">Password:</label>
                    <div id="password" class="col-5">
                        <th:block th:each="i:${#numbers.sequence(0,userCurrent.password.length()-1)}">
                            <span>*</span>
                        </th:block>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="push border-bottom">Niveau</legend>
                <div class="row form-group">
                    <label class="offset-lg-2 offset-sm-2 col-3 control-label">Type d'utilisateur:</label>
                    <div class="col-5">
                        <p th:if="${userCurrent.role == userCurrent.role.USER}">Utilisateur</p>
                        <p th:if="${userCurrent.role == userCurrent.role.MEMBER}">Membre officiel des amis de l'escalade</p>
                        <p th:if="${userCurrent.role == userCurrent.role.ADMINISTRATOR}">Administrateur</p>
                    </div>
                </div>
            </fieldset>
            <a th:href="@{'/editUser/'+${userCurrent.id}}">Éditer</a>
            <th:block th:if="${toposList.size()} > 0 ">
                <div class="form-horizontal well">
                    <legend class="h4 border-bottom">Mes Topos</legend>
                    <br>
                    <table class="offset-lg-1 col-lg-11 table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Disponibilité</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody th:with="count = 0">
                            <tr th:each="topos:${toposList}" >
                                <th th:with="count = ${count}+1"  scope="row"><span th:text="${count}"/></th>
                                <td th:text="${topos.title}"></td>
                                <td th:text="${topos.autor}"></td>
                                <th:block th:if="${topos.available} == true">
                                    <td>Oui</td>
                                </th:block>
                                <th:block th:unless="${topos.available} == true">
                                    <td>Non</td>
                                </th:block>
                                <td>
                                    <a th:href="@{'/editTopos/'+${topos.id}}">Éditer</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <a th:href="@{'/deleteTopos/'+${topos.id}}">Supprimer</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/addTopos">Ajouter un topos</a>
                <th:block th:if="${bookingList.size()} > 0 ">
                    <legend class="h4 border-bottom">Les demandes de réservations</legend>
                    <br>
                    <table class="offset-lg-1 col-lg-11 table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">locataire</th>
                            <th scope="col">État</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody th:with="count = 0">
                        <tr th:each="booking:${bookingList}" >
                            <th th:with="count = ${count}+1"  scope="row"><span th:text="${count}"/></th>
                            <td th:text="${booking.topos.title}"></td>
                            <td th:text="${booking.user.name} +' '+ ${booking.user.firstname}"></td>
                            <td th:if="${booking.state == booking.state.ACCEPTED}">Accepter</td>
                            <td th:if="${booking.state == booking.state.REFUSE}">Refusée</td>
                            <td th:if="${booking.state == booking.state.REQUIRED}">En attente</td>
                            <td>
                                <a th:href="@{'/acceptBooking/'+${booking.id}}">Accepter</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <a th:href="@{'/refusedBooking/'+${booking.id}}">Refuser</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
            <th:block th:if="${historical.size()} > 0 ">
                <legend class="h4 border-bottom">Historique de réservations</legend>
                <br>
                <table class="offset-lg-1 col-lg-11 table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titre</th>
                        <th scope="col">locataire</th>
                        <th scope="col">État</th>
                    </tr>
                    </thead>
                    <tbody th:with="count = 0">
                    <tr th:each="booking:${historical}" >
                        <th th:with="count = ${count}+1"  scope="row"><span th:text="${count}"/></th>
                        <td th:text="${booking.topos.title}"></td>
                        <td th:text="${booking.user.name} +' '+ ${booking.user.firstname}"></td>
                        <td th:if="${booking.state == booking.state.ACCEPTED}">Accepter</td>
                        <td th:if="${booking.state == booking.state.REFUSE}">Refusée</td>
                        <td th:if="${booking.state == booking.state.REQUIRED}">En attente</td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
                <th:block th:if="${acceptList.size()} > 0 ">
                    <legend class="h4 border-bottom">Coordonnés des topos réservés</legend>
                    <br>
                    <table class="offset-lg-1 col-lg-11 table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Loueur</th>
                            <th scope="col">E-mail</th>
                        </tr>
                        </thead>
                        <tbody th:with="count = 0">
                        <tr th:each="booking:${acceptList}" >
                            <th th:with="count = ${count}+1"  scope="row"><span th:text="${count}"/></th>
                            <td th:text="${booking.topos.title}"></td>
                            <td th:text="${booking.topos.user.name} +' '+ ${booking.topos.user.firstname}"></td>
                            <td th:text="${booking.topos.user.mail}"></td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
                <th:block th:if="${requestAcceptList.size()} > 0 ">
                    <legend class="h4 border-bottom">Coordonné des demandeurs</legend>
                    <br>
                    <table class="offset-lg-1 col-lg-11 table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Demandeur</th>
                            <th scope="col">E-mail</th>
                        </tr>
                        </thead>
                        <tbody th:with="count = 0">
                        <tr th:each="booking:${requestAcceptList}" >
                            <th th:with="count = ${count}+1"  scope="row"><span th:text="${count}"/></th>
                            <td th:text="${booking.topos.title}"></td>
                            <td th:text="${booking.user.name} +' '+ ${booking.user.firstname}"></td>
                            <td th:text="${booking.user.mail}"></td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>

        </div>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>