<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="col-lg  well">
            </form>
            <form method="post"  th:action="@{/catalogSearch}" th:object="${search}" class="form-horizontal well form-row">
                    <div class="form-group col-md-4">
                        <label for="place">Lieux</label>
                        <input id="place" type="text" th:field="*{place}" class="input-sm form-control" placeholder="lieux ...">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="level">Niveau</label>
                        <select id="level" th:field="*{level}" class="form-control">
                            <option selected th:value="${T(com.oc.Climb.enums.Level).NOT_SELECTED}">tout niveau</option>
                            <option th:value="${T(com.oc.Climb.enums.Level).DEBUTANT}">Débutant: 5a à 5c+</option>
                            <option th:value="${T(com.oc.Climb.enums.Level).INTERMEDIAIRE}">Intermédiaire: 6a à 6c+</option>
                            <option th:value="${T(com.oc.Climb.enums.Level).AVANCE}">Avancé: 7a à 7c+</option>
                            <option th:value="${T(com.oc.Climb.enums.Level).EXPERT}">Expert: 8a à plus</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sector">Nombre de secteur</label>
                        <input id="sector" type="number" th:field="*{nbSectors}" class="input-sm form-control" placeholder="sector">
                    </div>
                    <div class="form-check col">
                        <input id="official" type="checkbox" th:field="*{official}" class="form-check-input" placeholder="official">
                        <label class="form-check-label" for="official">
                            Validé par "Les amis de l'escalade"
                        </label>
                    </div>
                <button type="submit" class="btn btn-primary btn-sm col-md-3"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>

            </form>
            <br>
            <div class="container">
                <section class="row">
                    <figure th:each="site : ${siteList}" class="col-pad col-xs-6 col-sm-6 col-md-4">
                        <a th:href="@{'/climbingSite/'+${site.id}}" class="link-img"><img class="row img-thumbnail" th:src="${site.picture}" alt="climb">
                            <figcaption class="row"><span th:text="${site.name}"/></figcaption></a>
                    </figure>
                </section>
            </div>
            <div th:if="${userCurrent.role != userCurrent.role.NOT_CONNECTED}" class="row">
                <div class="col-12">
                    <legend class="push-white border-bottom">Action</legend>
                </div>
                <nav class="navbar navbar-expand">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <a class="link-ban" href="/addSite">Ajouter un site</a>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </div>
<footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>