<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <div th:if="${id != '-1'}">
        <header th:include="include/headerConnected.html"></header>
    </div>
    <div th:unless="${id != '-1'}">
        <header th:include="include/header.html"></header>
    </div>
    <div class="row">
        <div class="col-lg-12 well">
            <legend class="h4 border-bottom">L'alchimie de la douleur</legend>
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-site" src="img/voie1.jpg" alt="photo l'alchimie de la douleur">
                </div>
                <div class="col-lg-6">
                    <div class="container">
                        <div id="content" class="row">
                            <legend class="push border-bottom">Descriptif</legend>
                            <dl class="panel dl-horizontal">
                                <dt>Lieu</dt>
                                <dd>Les calanques de Marseille.</dd>
                                <dt>Niveaux</dt>
                                <dd>7b+ / 7a / 6c / 6a+ / 5b+ / 5a.</dd>
                                <dt>Orientation</dt>
                                <dd>Nord-Ouest.</dd>
                                <dt>rocher</dt>
                                <dd>Calcaire.</dd>
                                <dt>Altitude maximale</dt>
                                <dd>43 mètres.</dd>
                                <dt>Dernière mise à jour</dt>
                                <dd>12/12/2019</dd>
                                <dt>Qualité de l’équipement</dt>
                                <dd>Equipement excellent (Scellements galvanisés), espacé.</dd>
                                <dt>Cotation globale</dt>
                                <dd>[7a+/6c].</dd>
                                <dt>Date d'ouverture</dt>
                                <dd>14/04/2016</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 well">
                    <div class="container">
                        <div id="content" class="row">
                            <legend class="push border-bottom">Caractéristique</legend>
                            <dl class="panel dl-horizontal dl-pres">
                                <dt>Présentation</dt>
                                <dd>Très jolie voie ouverte en 1985 par P. Pérez et T. Saviozzy, et tracée dans le socle de la Candelle, secteur plutôt calme et sauvage, situé juste au-dessus de la calanque des pierres tombées. Elle propose une superbe escalade, soutenue, technique et exigeante (notamment dans L1) en dalles et murs raides, demandant une « bonne lecture » et nécessitant du « placement ». Elle se déroule sur un calcaire splendide, compact, et magnifiquement sculpté (gouttes d’eau, strates, trous, et micro-cannelures), et dans une remarquable ambiance aérienne. Les difficultés sont très marquées, longues et le plus souvent obligatoires malgré l’équipement excellent. Un itinéraire donc recommandé pour son cadre magnifique, le calcaire dément et pour l’intérêt permanent et continu de l’escalade. Un grand merci à Arsenii sans qui je ne me serai pas lancé dans cette p’tite aventure…</dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
            <div class="border-cadre row">
                <div class="col-12">
                    <legend class="push-white border-bottom">Action</legend>
                </div>
                <nav class="navbar navbar-expand">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li> <a class="link-ban" href="homepage.html">Ajouter un commentaire</a>&emsp;</li>
                            <li >&emsp;<a class="link-ban" href="#">Sites Modifier les caractéristiques</a>&emsp;</li>
                            <li >&emsp;<a class="link-ban" href="#">Partager</a>&emsp;</li>
                            <li >&emsp;<a class="link-ban" href="#">demander le topo</a>&emsp;</li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>
