<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="media-body">
            <h5 class="mt-0 mb-1"> Ajouter un commentaire</h5>
            <form method="post" action="#" th:action="@{'/modifComment/'+${comment.id}}" th:object="${comment}" class="col-lg form-horizontal well">
                <div class="row form-group">
                    <label for="id_site" class="offset-lg-1 offset-sm-1 col-2 control-label">ID Site:</label>
                    <div class="col-7">
                        <input id="id_site" type="text" th:field="*{site}" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="id_user" class="offset-lg-1 offset-sm-1 col-2 control-label">ID utilisateur:</label>
                    <div class="col-7">
                        <input id="id_user" type="text" th:field="*{user}" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="id" class="offset-lg-1 offset-sm-1 col-2 control-label">ID Commentaire:</label>
                    <div class="col-7">
                        <input id="id" type="text" th:field="*{id}" class="form-control" readonly="readonly">
                    </div>
                </div>
                <textarea id="title" type="text" th:field="*{text}" class="form-control"></textarea>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>