<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="col-lg-9 form-horizontal well">
            <br/>
            <br/>
            <h2 class="text-center text-danger"> Erreur 404 : Page non trouvé.</h2>
        </div>
        <nav th:include="include/highlight-site.html"  class="border-cadre col-lg-3"></nav>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>