<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="col-lg-9 well">
            <legend class="h4 border-bottom">Vocabulaire</legend>
            <div id="contentVoc" class="row">
                <div class="container">
                    <div id="content" class="row">
                        <legend class="push border-bottom">Les différentes disciplines</legend>
                        <dl class="panel dl-horizontal">
                            <dt>Bloc</dt>
                            <dd>Un bloc est un enchaînement de mouvements, plus court qu’une voie. On le réalise sans corde ni baudrier. Pour amortir les chutes on place des tapis très épais au pied des blocs : les « crash pads » (en indoor, des tapis adaptés sont déjà en place). En extérieur, en plus des tapis, il faut être “paré” (c'est à dire "assuré" par des co-équipiers qui se placent derrihère le grimpeur pour amortir et orienter sa chute vers le crash-pad).</dd>
                            <dt>Combiné</dt>
                            <dd>Petite dernière choisie par le Comité Olympique, L’escalade rejoindra les prochains J.O en 2020 (YES !). Pour cette première, elle sera jouée en “combiné”: c’est à dire en mixte entre plusieurs disciplines : le bloc, la vitesse & la difficulté.</dd>
                            <dt>Difficulté</dt>
                            <dd>Cette pratique est souvent celle que l’on a en tête quand on pense “escalade”. Le but est d’arriver au sommet d’une voie, assuré avec une corde, en avançant à l’aide de prises.

                                Que ce soit en salle, ou en falaise ; en tête ou en moulinette, sur une seule ou plusieurs longueurs</dd>
                            <dt>Grimpe</dt>
                            <dd>Dans le jargon des grimpeurs, on dira plutôt "je vais grimper" que "je fais de l’escalade".</dd>
                            <dt>Vitesse</dt>
                            <dd>C’est un peu le 400 mètres haies de l’escalade. Le but ? Grimper le plus vite possible au sommet d’un mur ! C’est un mur homologué, qui a toujours la même hauteur, la même inclinaison, les mêmes prises aux mêmes emplacements (et donc la même cotation), pour pouvoir comparer les résultats des grimpeurs.</dd>
                        </dl>
                    </div>
                </div>
                <div class="container">
                    <div id="content" class="row">
                        <legend class="push border-bottom">Bien communiquer avec son assureur</legend>
                        <dl class="panel dl-horizontal">
                            <dt>Assureur / assurer</dt>
                            <dd>L’assureur est celui qui... assure. Il assure le grimpeur mais surtout sa sécurité. En moulinette et surtout en tête son rôle est capital, c’est grâce à son anticipation que le grimpeur qui chute ne se fera pas mal. (on parle aussi d’assureur pour désigner un système d’assurage - voir la partie matériel).</dd>
                            <dt>Avale</dt>
                            <dd>Quand on grimpe en tête, après un clipage de dégaine par exemple, on peut crier « avale » à son assureur. Ça lui indiquera qu’il peut reprendre du « mou » pour retendre un peu la corde qui les relie.</dd>
                            <dt>Bloque, Sec ou Prends-moi</dt>
                            <dd>Quand on est en difficulté dans une voie, pour que l’assureur tende la corde au maximum et qu’on puisse se reposer en se pendant dans son harnais</dd>
                            <dt>Cordée</dt>
                            <dd>Liés par la corde, le grimpeur et son assureur forment la cordée</dd>
                            <dt>Mou</dt>
                            <dd>Quand on assure, donner du mou, veut dire qu'on met plus de corde entre le grimpeur et soi. Le grimpeur en tête pourra utiliser ce « surplus » de corde pour clipper sa dégaine.</dd>
                            <dt>Mousquetoner, Clipper</dt>
                            <dd>Passer la corde dans la dégaine (ou le relais) quand on grimpe en tête.</dd>
                            <dt>Parer</dt>
                            <dd>En bloc, comme le grimpeur n’est pas encordé, le ou les pareurs se postent derrière lui pour amortir sa chute ou à minima pour l’orienter vers les crash pads.</dd>
                            <dt>Vaché</dt>
                            <dd>En extérieur, quand on arrive en haut d’une voie et que l’on doit faire la manip’ de relais, on se met en sécurité à l’aide d’un équipement appelé la « vache » (oui oui). On indique ensuite à son assureur qu’il peut nous donner du mou pour la manip’ à l’aide du terme « vaché ».</dd>
                        </dl>
                    </div>
                </div>
                <div class="container">
                    <div id="content" class="row">
                        <legend class="push border-bottom">Décrire ses performances et son état physique</legend>
                        <dl class="panel dl-horizontal">
                            <dt>A vue</dt>
                            <dd>Réaliser une voie au premier essai sans avoir eu de démonstration ni d'explication.</dd>
                            <dt>Après travail</dt>
                            <dd>Quand on réussit une voie après avoir fait plusieurs essais dedans, et travaillé les mouvements.</dd>
                            <dt>Bouteilles</dt>
                            <dd>On a les bouteilles quand nos avants-bras sont pétrifiés par l’acide lactique après un effort intense. A ce moment là, on est daubé...</dd>
                            <dt>But</dt>
                            <dd>“J’ai pris un but”... On est pas au foot, mais comme un gardien, le grimpeur qui a pris un but vient d’encaisser un échec, d’échouer à réaliser sa voie.</dd>
                            <dt>Cotation</dt>
                            <dd>C’est le niveau d’une voie/d’un bloc, elle se compose d’un chiffre et d’une lettre -entre A et C-. Plus le chiffre est élevé et la lettre croissante plus la voie est dure : 4A, 4B, 4C, 5A, 5B, 5C, 6A… (à ce jour la cotation la + dure connue est 9B+).

                                Si l’on pense que la voie est entre 2 niveaux on peut aussi ajouter un “+” : 5B+ sera donc plus difficile que 5B (et un peu moins dur que 5C)</dd>
                            <dt>Croix</dt>
                            <dd>Faire sa croix c’est réaliser son objectif, enchaîner sa voie. (On s'autorise même à dire "j'ai croité" !)
                            <dt>Crux</dt>
                            <dd>Le passage difficile de la voie ou du bloc.</dd>
                            <dt>Daubé</dt>
                            <dd>Explosé, HS, K.O… Fatigué à en pleurer !</dd>
                            <dt>Délayer</dt>
                            <dd>Relâcher et secouer son bras pour essayer d’évacuer l’acide lactique et donc récupérer de l'énergie pour finir la voie.
                            </dd>
                            <dt>En tête</dt>
                            <dd>Partir dans une voie en installant soi-même sa corde au fur et à mesure de sa montée, en la passant dans les dégaines pour se sécuriser.</dd>
                            <dt>En moulinette, en moul'</dt>
                            <dd>Par opposition à la grimpe "en tête", on fait une voie en moulinette quand la corde est déjà installée au relais (au sommet de la voie).
                            </dd>
                            <dt>En second</dt>
                            <dd>Dans une voie de plusieurs longueurs, le 1er grimpeur monte en tête. Une fois qu'il atteint le relais, il s’installe pour assurer son second qui monte alors en moulinette.</dd>
                            <dt>En moulinette, en moul'</dt>
                            <dd>Par opposition à la grimpe "en tête", on fait une voie en moulinette quand la corde est déjà installée au relais (au sommet de la voie).
                            </dd>
                            <dt>Enchaîner</dt>
                            <dd>Réaliser sa voie sans avoir pris de repos total (assis dans son baudrier, suspendu à la corde et donc soutenu par son assureur).
                            </dd>
                            <dt>Lire, lecture</dt>
                            <dd>Avant de partir dans un projet à vue, on le lit. C’est à dire qu’on étudie depuis le bas où l’on va passer, comment on pense se placer, à quel moment clipper ou se reposer.
                            </dd>
                            <dt>Vol, Plomb</dt>
                            <dd>Vous avez toujours rêvé de voler ? En escalade “prendre un vol” (ou un plomb) n’est pas synonyme de victoire, mais plutôt d’une bonne grosse chute... souvent accompagnée de quelques petits cris !
                            </dd>
                            <dt>Zipette</dt>
                            <dd>C’est le fait de glisser car on a pas mis assez de poids sur ses appuis (sur ses pieds ou ses mains).
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="container">
                    <div id="content" class="row">
                        <legend class="push border-bottom">Techniques et mouvements</legend>
                        <dl class="panel dl-horizontal">
                            <dt>Adhérence</dt>
                            <dd>Poser ses pieds en adhérence, c’est se servir du relief en falaise ou du fond de plaque en salle, à plat sans l'aide des prises pour s’équilibrer ou progresser… Alors osez !</dd>
                            <dt>Désescalader</dt>
                            <dd>Redescendre une portion ou toute la voie en escaladant en sens inverse (pour refaire un mouvement, pour finir de s’échauffer ou récupérer activement). On ne parle pas de redescendre tête en bas façon homme araignée, mais plutôt d’effectuer une marche arrière.</dd>
                            <dt>Jeter</dt>
                            <dd>Sauter vers la prise suivante quand elle est trop éloignée, en perdant ses prises de pieds.</dd>
                            <dt>Mouv'</dt>
                            <dd>Parce qu’on aime bien notre jargon, un grimpeur utilise souvent des abréviations, ici vous l’aurez compris on parle de mouvement, de posture particulière à adopter sur une section de la voie pour réussir l’ascension.</dd>
                            <dt>No-foot</dt>
                            <dd>Passage réalisé en traction, uniquement à l’aide des mains, sans poser les pieds (muscu assurée !). Réalisé surtout en dévers.</dd>
                            <dt>Pied-main</dt>
                            <dd>Figure consistant à monter son pied sur une prise où l’on avait sa main .</dd>
                            <dt>Rappel</dt>
                            <dd>Quand on arrive au sommet d’une grande voie, à moins d’avoir un chemin accessible pour redescendre à pied, le rappel est obligatoire. Cette technique consiste à installer une corde depuis le relais  en direction du sol (ou du relais suivant) pour pouvoir s’assurer et descendre dessus à l’aide du matériel adéquat.</dd>
                        </dl>
                    </div>
                </div>
                <div class="container">
                    <div id="content" class="row">
                        <legend class="push border-bottom">Terrain de jeu : reliefs et prises</legend>
                        <dl class="panel dl-horizontal">
                            <dt>Cheminée</dt>
                            <dd>Lorsque deux parois du mur sont face à face, le grimpeur peut progresser en opposition entre les deux murs.</dd>
                            <dt>Dalle</dt>
                            <dd>Paroi de type plutôt lisse et peu incliné.</dd>
                            <dt>Devers, mur déversant</dt>
                            <dd>Paroi dont l’inclinaison forme un angle aigu par rapport au sol.</dd>
                            <dt>Dièdre</dt>
                            <dd>Quand une paroi est perpendiculaire à une autre. Elles forment alors un angle, un dièdre.</dd>
                            <dt>Gaz</dt>
                            <dd>Quand le passage est aérien, qu’il y a beaucoup de vide / de gaz.</dd>
                            <dt>Longueur</dt>
                            <dd>Une longueur est une partie d’une grande voie, entre 2 relais.</dd>
                            <dt>Prises</dt>
                            <dd>Naturelles ou artificielles ce sont les aspérités du relief ou les empiècements en résine dont on se sert pour progresser sur le mur. Selon leur forme ou leur profondeur on leur donne plusieurs noms : plat, pince, bac, micro, inversée, mono-doigt, réglette…</dd>
                            <dt>Relais</dt>
                            <dd>Au sommet de la voie, c’est l’ancrage où l’on vient accrocher sa corde (par une manip’ spécifique en falaise ou simplement en la passant dans des mousquetons en salle) afin de poser une moulinette, d'assurer sa descente ou d’assurer son second.</dd>
                            <dt>Repos</dt>
                            <dd>C’est le fait de faire une pause pour récupérer en cours de route, on en profite souvent pour délayer. On peut faire une pause en restant autonome en tenant ses prises ; ou prendre un repos total pendu dans son baudrier et en lâchant toutes les prises (dans le second cas on enchaîne pas la voie).</dd>
                            <dt>Réta (blissement)</dt>
                            <dd>On peut appeler réta le passage de sortie d’un toit ou d'un bloc. En sortie de toit, ça implique généralement de passer d’une position où l’on est plutôt en suspension (du fait du dévers), à une position où l’on repasse en appui sur des prises. En bloc, le mouvement ressemble beaucoup à une sortie de piscine : tout en appui sur les bras... d'où la fameuse expression "reta piscine" ! </dd>
                            <dt>Toit, Surplomb</dt>
                            <dd>Un surplomb est un passage du mur qui avance abruptement dans le vide, de manière parallèle au sol.</dd>
                            <dt>Topo</dt>
                            <dd>Guide d’un site d’escalade. Il permet de connaître les chemins d’accès aux voies ou blocs, leur difficultés etc.</dd>
                            <dt>Vire</dt>
                            <dd>Zone (plus ou moins) plate en falaise, où l’on peut tenir debout pour se reposer ou assurer.</dd>
                            <dt>Voie</dt>
                            <dd>Itinéraire / route que l’on emprunte vers le sommet. En salle, une voie se compose d’un ensemble de prises de même couleur.</dd>
                        </dl>
                    </div>
                </div>
                <div class="container">
                    <div id="content" class="row">
                        <legend class="push border-bottom">Équipement</legend>
                        <dl class="panel dl-horizontal">
                            <dt>crash pad</dt>
                            <dd>Tapis très épais qu’on met au pied des blocs pour amortir les chutes des grimpeurs.</dd>
                            <dt>Dégaines, Paires</dt>
                            <dd>2 mousquetons reliés par une sangle forment la dégaine (ils font la paire). En tête, on passe la corde dans les dégaines pour sécuriser sa progression.</dd>
                            <dt>Descendeur, Systèmes d'assurage, assureur</dt>
                            <dd>Équipement qui permet à l’assureur d’assurer la sécurité du grimpeur. Il en existe de plusieurs type : autobloquants ou non, pour corde à simple ou à double...</dd>
                            <dt>Harnais, Baudriers</dt>
                            <dd>Le baudrier est l’équipement qui permet de s’encorder pour grimper en toute sécurité. Sa construction permet de répartir le facteur de choc en cas de chute.</dd>
                            <dt>Huit</dt>
                            <dd>Le nœud de 8 est la base de l’encordement du grimpeur. Côté assureur on peut aussi utiliser le système d’assurage éponyme.</dd>
                            <dt>Magnésie, Pof</dt>
                            <dd>Poudre de magnésium qui permet de garder les mains sèches pour bien tenir les prises et ne pas glisser. C'est la même que l'on utilise en gym aux agrès.</dd>
                            <dt>S'encorder</dt>
                            <dd>Attacher sa corde à son baudrier avec un nœud sécurisé (le huit est le plus souvent recommandé).</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div id="page_navigation"></div>


        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>

            var show_per_page = 1;
            var current_page = 0;

            function set_display(first, last) {
                $('#contentVoc').children().css('display', 'none');
                $('#contentVoc').children().slice(first, last).css('display', 'block');
            }

            function previous(){
                if($('.active').prev('.page-item').length)
                    go_to_page(current_page - 1);
            }

            function next(){
                if($('.active').next('.page-item').length)
                    go_to_page(current_page + 1);
            }

            function go_to_page(page_num){
                current_page = page_num;
                start_from = current_page * show_per_page;
                end_on = start_from + show_per_page;
                set_display(start_from, end_on);
                $('.active').removeClass('active');
                $('#id' + page_num).addClass('active');
            }



            $(document).ready(function() {

                var number_of_pages = Math.ceil($('#contentVoc').children().length / show_per_page);

                var nav = '<nav aria-label="Page navigation"><ul class="pagination pagination-sm justify-content-center"><li class="page-item"><a class="page-link" href="javascript:previous();">Précédent</a>';

                var i = -1;
                while(number_of_pages > ++i){
                    nav += '<li class="page-item';
                    if(!i) nav += ' active';
                    nav += '" id="id' + i +'">';
                    nav += '<a class="page-link" href="javascript:go_to_page(' + i +')">'+ (i + 1) +'</a>';
                }
                nav += '<li class="page-item"><a class="page-link" href="javascript:next();">suivant</a></ul></nav>';

                $('#page_navigation').html(nav);
                set_display(0, show_per_page);

            });

        </script>

        <nav th:include="include/highlight-site.html"  class="border-cadre col-lg-3"></nav>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>
