<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="col-lg form-horizontal well">
            <th:if test="${!empty userSearch}">
                <h3 class="text-center">Connexion réussie !!</h3>
                <h4 class="text-center">Bienvenue <span th:text="${userCurrent.getFirstname()}"/> </h4>
            </th:if>
        </div>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>