<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <form method="post" action="#" th:action="@{/logInCheck}" th:object="${userCurrent}" class="col-lg-9 form-horizontal well">
            <legend class="h4 border-bottom">Connexion</legend>
            <br>
            <span class="align-content-center" th:text="${message}"/>
            <br>
            <div>
                <fieldset >
                    <div class="row form-group">
                        <label for="pseudo" class="offset-lg-1 offset-sm-1 col-2 control-label">Pseudo:</label>
                        <div class="col-7">
                            <input id="pseudo" th:field="*{pseudo}" type="text" class="form-control"  placeholder="pseudo" required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="password" class="offset-lg-1 offset-sm-1 col-2 control-label">Mot de passe:</label>
                        <div class="col-7">
                            <input id="password" th:field="*{password}" type="password" class="form-control" th:fie placeholder="password" required="required">
                        </div>
                    </div>
                    <div class="mid">
                        <a href="init-password">J'ai oublié mon mot de passe</a>
                    </div>
                    <button class="btn btn-primary offset-9" type="submit">Se connecter</button>

<!--                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                </fieldset>
            </div>
        </form>
        <nav th:include="include/highlight-site.html"  class="border-cadre col-lg-3"></nav>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>

</body>
</html>