<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/head.html"></head>
<body>
<div class="container">
    <header th:include="include/header.html"></header>
    <div class="row">
        <div class="col-lg-9 form-horizontal well">
            <th:if test="${!empty site}">
                <h3 class="text-center">Ajout du site "<span th:text="${site.name}"/>" réussi !!</h3>
            </th:if>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">image</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="site : ${siteList}">
                    <td th:text="${site.name}">Nom</td>
                    <td th:text="${site.place}">Lieu</td>
                    <td ><img th:src="${site.picture}" alt="Image du site d'escalade"></td>
                </tr>
                <tbody>

            </table>
        </div>
        <nav th:include="include/highlight-site.html"  class="border-cadre col-lg-3"></nav>
    </div>
    <footer class="border-cadre row" th:include="include/footer.html"></footer>
</div>


</body>
</html>